@font-face {
  font-family: 'HK Grotesk';
  font-weight: 200;
  font-style: normal;
  src: url('../fonts/hk-grotesk/hkgrotesk-light.eot');
  src: url('../fonts/hk-grotesk/hkgrotesk-light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/hk-grotesk/hkgrotesk-light.woff2') format('woff2'),
       url('../fonts/hk-grotesk/hkgrotesk-light.woff') format('woff'),
       url('../fonts/hk-grotesk/hkgrotesk-light.ttf') format('truetype'),
       url('../fonts/hk-grotesk/hkgrotesk-light.svg#HKGrotesk') format('svg');
}

@font-face {
  font-family: 'HK Grotesk';
  font-weight: 200;
  font-style: italic;
  src: url('../fonts/hk-grotesk/hkgrotesk-lightitalic.eot');
  src: url('../fonts/hk-grotesk/hkgrotesk-lightitalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/hk-grotesk/hkgrotesk-lightitalic.woff2') format('woff2'),
       url('../fonts/hk-grotesk/hkgrotesk-lightitalic.woff') format('woff'),
       url('../fonts/hk-grotesk/hkgrotesk-lightitalic.ttf') format('truetype'),
       url('../fonts/hk-grotesk/hkgrotesk-lightitalic.svg#HKGrotesk') format('svg');
}

@font-face {
  font-family: 'HK Grotesk';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/hk-grotesk/hkgrotesk-regular.eot');
  src: url('../fonts/hk-grotesk/hkgrotesk-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/hk-grotesk/hkgrotesk-regular.woff2') format('woff2'),
       url('../fonts/hk-grotesk/hkgrotesk-regular.woff') format('woff'),
       url('../fonts/hk-grotesk/hkgrotesk-regular.ttf') format('truetype'),
       url('../fonts/hk-grotesk/hkgrotesk-regular.svg#HKGrotesk') format('svg');
}

@font-face {
  font-family: 'HK Grotesk';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/hk-grotesk/hkgrotesk-italic.eot');
  src: url('../fonts/hk-grotesk/hkgrotesk-italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/hk-grotesk/hkgrotesk-italic.woff2') format('woff2'),
       url('../fonts/hk-grotesk/hkgrotesk-italic.woff') format('woff'),
       url('../fonts/hk-grotesk/hkgrotesk-italic.ttf') format('truetype'),
       url('../fonts/hk-grotesk/hkgrotesk-italic.svg#HKGrotesk') format('svg');
}

@font-face {
  font-family: 'HK Grotesk';
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/hk-grotesk/hkgrotesk-medium.eot');
  src: url('../fonts/hk-grotesk/hkgrotesk-medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/hk-grotesk/hkgrotesk-medium.woff2') format('woff2'),
       url('../fonts/hk-grotesk/hkgrotesk-medium.woff') format('woff'),
       url('../fonts/hk-grotesk/hkgrotesk-medium.ttf') format('truetype'),
       url('../fonts/hk-grotesk/hkgrotesk-medium.svg#HKGroteskMedium') format('svg');
}

@font-face {
  font-family: 'HK Grotesk';
  font-weight: 600;
  font-style: italic;
  src: url('../fonts/hk-grotesk/hkgrotesk-mediumitalic.eot');
  src: url('../fonts/hk-grotesk/hkgrotesk-mediumitalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/hk-grotesk/hkgrotesk-mediumitalic.woff2') format('woff2'),
       url('../fonts/hk-grotesk/hkgrotesk-mediumitalic.woff') format('woff'),
       url('../fonts/hk-grotesk/hkgrotesk-mediumitalic.ttf') format('truetype'),
       url('../fonts/hk-grotesk/hkgrotesk-mediumitalic.svg#HKGroteskMediumItalic') format('svg');
}
