html
  font-family: $font-stack-primary
  font-size: $font-size-root
  color: $color-text

  background-color: $color-bg-primary
  min-height: 100%

  &.no-scroll
    position: fixed
    overflow-y: scroll
    width: 100%

    body
        height: 100%
        overflow: hidden

        main
            height: 100%
            overflow: hidden



html,
body
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

  min-width: 320px
  min-height: 100%

body
  font-size: $font-size-body
  line-height: $font-line-height-body
  font-weight: $font-weight-regular


// Render fixes
// @see: http://www.intridea.com/blog/2014/5/8/better-font-smoothing-in-chrome-on-mac-os-x
@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and (min-device-pixel-ratio: 1.25),
only screen and (min-resolution: 200dpi),
only screen and (min-resolution: 1.25dppx)
  html, body, button
    -webkit-font-smoothing: subpixel-antialiased
