//  _Base colors
$color-primary          = #002a4e
$color-primary-trans    = rgba(0, 42, 78, 0.25)
$color-secondary        = #ff473c
$color-highlight        = #ff473c
$color-black            = #000000
$color-white            = #ffffff

//  _Background colors
$color-bg-primary       = #F5F5F5
$color-bg-light         = #f2f6f9
$color-bg-medium        = #e3e9ef
$color-bg-dark          = #012b4f
$color-bg-darkest       = #011629

//  _Element colors
$color-text             = #0A0A0A
$color-caption          = #afafaf
$color-link             = $color-primary
$color-button           = $color-primary
$color-border-default   = #DEDEDE
$color-error            = $color-highlight
