//  _Font families

$font-stack-primary = 'HK Grotesk', 'Helvetica Neue', Helvetica, Arial, sans-serif


// Font sizes

$font-size-root         = 10px;       // The font size set on the root html element.
$font-size-body         = 1.6rem;     // Regular font size
$font-size-h1           = 5rem;
$font-size-h1-small     = 3rem;
$font-size-h2           = 3.5rem;
$font-size-h2-small     = 2.5rem;
$font-size-h3           = 1.9rem;
$font-size-h3-small     = 1.8rem;
$font-size-h4           = 1.6rem;
$font-size-h4-small     = 1.6rem;


// Font line heights
$font-line-height-body        = 1.4;
$font-line-height-h1          = 1.5; 
$font-line-height-h1-small    = 1.5;
$font-line-height-h2          = 1.5;
$font-line-height-h2-small    = 1.5;
$font-line-height-h3          = 1.5;
$font-line-height-h3-small    = 1.5;
$font-line-height-h4          = 1.5;
$font-line-height-h4-small    = 1.5;


// Font weights
$font-weight-light      = 200;
$font-weight-regular    = 400;
$font-weight-medium     = 600;
